.perfil-user {
  width: 30%;
  float: left;
  padding: 10px;
}

.avatar {

}

.login {
  font-size: 2.0em;
}

.name {
  margin-top: 5px;
  font-size: 1.2em
}

ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0px;
}

ul li {
  margin-top: 10px;
}

ul li span {
  margin-left: 10px;
}

.avatar img {
  width: 100%;
  background-size: cover;
}
